@model StudentAttendanceWebApp.Models.Subject

@{
    ViewData["Title"] = "Subject Details";
}

<h1>Subject Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Subject Code</dt>
        <dd class="col-sm-10">@Model.SubjectCode</dd>

        <dt class="col-sm-2">Subject Name</dt>
        <dd class="col-sm-10">@Model.SubjectName</dd>

        <dt class="col-sm-2">Deprecated</dt>
        <dd class="col-sm-10">@Model.Deprecated ? "Yes" : "No"</dd>
    </dl>
</div>

<a class="btn btn-primary" asp-action="Index">Back to List</a>
